
.stats-page-wrapper {
  margin-left: 72px;
  height: 100vh; /* Take full viewport height */
  width: calc(100vw - 72px);
  overflow-y: auto; /* Enables scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.stats-page-main{
  margin-top: 40px;
  margin-left: 10px;
  height: 100%;
  width: 98%;
  background-color: #202124;
  position: relative;
}
.page-title{
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-left: 10px;
  color: white;
}
.stats-type-dropdown{

position: absolute;
right: 1%;
top: 3%;

}
.dropdowns-container{
  margin-left: 5px;
  display: flex;
  gap: 10px;
}
.league-leaders-wrapper{
  margin-top: 20px;
 
}
.league-leaders{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.league-row{  
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media (max-width: 768px) {
  .stats-page-wrapper {
    margin-left: 0px;
    height: 100dvh; /* Take full viewport height */
    width: 100dvw;
    border: 1px solid red;
    align-items: center;
  }
  .stats-page-main{
    margin-top: 0px;

    margin-left: 0px;
    width: 96%;
  }
  .page-title{
    font-size: 20px;
    padding-bottom: 10px;
  }
  .stats-type-dropdown{
    position: relative;
  
  }
  .stats-type-dropdown .dropdown-container{
    width: 100%;
  }
  
  .dropdowns-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .league-leaders{
    gap: 10px;
  }
  .league-row{  
    flex-direction: column;
  }
  
}