.carousel-container {
  position: relative;
  width: 100%; /* Full screen width */
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

/* Arrow Buttons */
.arrow {
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  right: 17%;
  top: 17%;
}


