.ladder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 5px;
  width: 36vw;
  height: 350px;
}
.ladder-title {
  padding: 5px 0px;
  background-color: #1c1c1b;
  margin-bottom: 5px;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  width: 100%;
  color: var(--gold);
  font-size: 1.8rem;
  font-weight: 500;
  z-index: 200;
}

@media (max-width: 950px) {
  .ladder-container {
    width: 100%;

    margin: 0;
  }
}
