.all-nba-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.all-nba-card-container {
  display: flex;
  gap: 5px;
}
.all-nba-title {
  background-color: #cb994e;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  width: 100%;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 500;
}
