.ladder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.title-container {
  border: 1px solid rgb(255, 255, 255);
  height: 11rem;
  font-family: "Fira Sans Condensed", sans-serif;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.gold-boxed {
  background-color: #cb994e;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  width: fit-content;
  color: #14181a;
  font-size: 1.8rem;
  font-weight: 500;
}
.main-title {
  font-size: 3rem;
  transform: scaleY(1.775); /* Stretches text vertically */
  display: inline-block;
  font-weight: 600;
}
.award-name {
  color: #cb994e;
}
