body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.player-card-container {
  width: 27rem;
  height: 10rem;
  display: flex;
  gap: 5px;
  margin-top: 1rem;
  border-radius: 0.5rem;
  
}
.rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 3.75rem;
  color: white;
  border-radius: 10px;
  width: 17%;
}

.player-info {
  overflow: hidden;
  border-radius: 10px;
  width: 95%;
  display: flex;
  justify-content: center;
  
}

.player-name{
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: white;
  text-align: left;
  margin-left: 15px;
  letter-spacing:-0.5px;
  z-index: 100;
}
.first-name {
  font-weight: 400;
  font-size: 1.3rem;

}
.last-name {
 font-weight: 500; 
 font-size: 1.4rem;

}
.img-container{
  display: flex;
  align-items: flex-end;
  position: relative;
  margin: 0;
  padding: 0; 
  flex: 2;
}
.player-image {
  position: absolute;
  height: 110%;
  display: flex;
  bottom: 0px;
  right:-45px
}
.team-logo{
  position: absolute;
  height: 121%;
  right: -25px;
  bottom: -22px;
}