html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.bracket-container {
  margin-top: 7vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 90vh;
  align-self: center;
}

.bracket {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: min(2.1rem);
}

.round-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.round.e-round-1,
.round.w-round-1 {
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: space-around;
}

.round.e-round-2,
.round.w-round-2 {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
}

.round.e-round-3,
.round.w-round-3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.round-container.nba-finals {
  display: flex;
  justify-content: center;
  align-items: center;
}

.round.nba-finals {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
