.bracket {
  margin-left: 70px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  gap: min(0rem);
  width: 93vw;
  position: relative;
}

.round-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  width: 100%;
  position: relative;
}
.round-container.w-round-3 {
  margin-left: -10%;
}

.round-container.e-round-3 {
  margin-right: -10%;
}

.round-container.nba-finals {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150%;
}

.connector, .middle-line {
  position: absolute;

  border: 1px solid #b5b7b7;

  z-index: -1;
}
.middle-line{
  border: none;
  border-top: 1px solid #b5b7b7;
  border-right: 1px solid #b5b7b7; ;
  top: 50%;
  left: -71.5%;


  width: 243%;
}

.connector.w-round-1 {
  border-left: none;
  width: 20px;
  height: 25%;
  right: 0px;
  top: 13%;
}
.connector.btm.w-round-1 {
  border-left: none;
  width: 20px;
  height: 25%;
  right: 0px;
  top: 63%;
}
.connector.w-round-2 {
  border: none;
  border-top: 1px solid #b5b7b7;
  border-bottom: 1px solid #b5b7b7;
  border-right: 1px solid #b5b7b7;

  width: 30%;
  height: 50%;
  left: 0%;
  top: 25%;
}
/********************************************/
.connector.e-round-1 {
  border-right: none;

  width: 20px;
  height: 25%;
  left: 0px;
  top: 13%;
}
.connector.btm.e-round-1 {
  border-right: none;
  width: 20px;
  height: 25%;
  right: 0px;
  top: 63%;
}

.connector.btm.e-round-2 {
  border: none;
  border-top: 1px solid #b5b7b7;
  border-bottom: 1px solid #b5b7b7;
  border-left: 1px solid #b5b7b7;

  width: 30%;
  height: 50%;
  left: 70%;
  top: 25%;
}
