body{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ladders-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}


