.standings-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 20px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  height: 100%;
}
.conference {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  height: 90vh;
}

.game-type {
  display: flex;
  height: 3rem;
  color: #ffffff;
  font-style: italic;
  text-align: center;
  font-size: 1.3rem;
  transform: scaleY(1); /* Stretches text vertically */

  justify-content: center;
  align-items: center;
  width: 100%;
}
.team-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 60%;
}
.nba-logo {
  height: 50px;
}
.playoffs {
  border-right: 1px dashed white;
}
.play-in {
  border-right: 1px solid white;
}
